.progress {
  background-color: #d8d8d8;

  position: relative;
  margin: 5px 0;
  height: 30px;
  width: 100%;
}
.progress-container {
  margin-bottom: 20px;
}
.progress-container span {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #000000;
}
.progress-done {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
