.service-detail-container {
  padding: 40px;
  width: 100%;
}
.image-service-item {
  padding: 20px;
}
.description-service-container {
  margin-top: 30px;
}
.description-service-container h2,
h3 {
  font-family: Poppins;
  font-weight: normal;
  line-height: 1.3em;
}

.description-service-container p {
  line-height: 1.75;
  margin-bottom: 15px;
  font-size: 16px;
}
.sous-services-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.sous-service-a {
  margin-top: 5px;
  padding: 10px;
  background-color: #ffc107;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: all 0.3s;
}
.sous-service-a:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
  text-decoration: none;
}
.right-service-container {
  padding: 20;
}
